.loader-page{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:#f8f9fc;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:99999;

}

.loader-circle{

width:75px;

height:75px;

border:7px solid #E5E7EB;

border-top:7px solid #FF6B00;

border-right:7px solid #5B21B6;

border-radius:50%;

animation:spin 1s linear infinite;

margin-bottom:25px;

}

.loader-logo{

font-size:34px;

font-weight:700;

color:#5B21B6;

margin-bottom:10px;

}

.loader-logo_urlspan{

color:#FF6B00;

}

.loader-page p{

color:#777;

font-size:16px;

letter-spacing:1px;

}

@keyframes spin{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}