.stats{

padding:100px 0;

background:#5B21B6;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

text-align:center;

color:white;

}

.stat-icon{

font-size:55px;

margin-bottom:20px;

}

.stat-card h2{

font-size:52px;

margin-bottom:10px;

}

.stat-card p{

font-size:18px;

opacity:.9;

}