.cta{

padding:100px 0;

background:#5B21B6;

text-align:center;

color:white;

}

.cta h2{

font-size:48px;

margin-bottom:20px;

}

.cta p{

font-size:20px;

margin-bottom:45px;

opacity:.9;

}

.cta-buttons{

display:flex;

justify-content:center;

gap:20px;

}

.cta-register{

width:220px;

height:55px;

background:#FF6B00;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:600;

font-size:18px;

transition:.3s;

}

.cta-register:hover{

background:#e65c00;

}

.cta-search{

width:220px;

height:55px;

border:2px solid white;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:600;

font-size:18px;

transition:.3s;

}

.cta-search:hover{

background:white;

color:#5B21B6;

}