.featured-companies{

padding:90px 0;

background:white;

}

.section-title{

text-align:center;

margin-bottom:50px;

}

.section-title h2{

font-size:42px;

margin-bottom:10px;

}

.section-title p{

color:#666;

font-size:18px;

}

.company-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}

.company-card{

background:#fff;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

position:relative;

}

.company-card:hover{

transform:translateY(-8px);

}

.company-cover{

width:100%;

height:220px;

object-fit:cover;

display:block;

}

.company-info{

padding:65px 25px 25px;

text-align:center;

display:flex;

flex-direction:column;

align-items:center;

}

.company-logo{

position:absolute;

left:25px;

top:170px;

width:80px;

height:80px;

border-radius:50%;

object-fit:cover;

background:#fff;

border:4px solid #fff;

box-shadow:0 8px 20px rgba(0,0,0,.2);

z-index:10;

}
.company-info h3{

font-size:24px;

margin-bottom:12px;

font-weight:700;

}

.company-info span{

display:inline-block;

padding:7px 18px;

border-radius:30px;

background:#FFE8D9;

color:#FF6B00;

font-weight:600;

margin-bottom:18px;

}

.company-info p{

margin:15px 0;

color:#666;

font-size:16px;
}

.company-info button{

margin-top:20px;

width:100%;

height:50px;

border:none;

background:#5B21B6;

color:white;

font-size:17px;

border-radius:12px;

cursor:pointer;

}

.company-info button:hover{

background:#4918a0;

}

.company-btn{

display:block;

width:100%;

text-align:center;

padding:14px;

background:#5B21B6;

color:white;

text-decoration:none;

border-radius:10px;

margin-top:20px;

font-weight:600;

transition:.3s;

}

.company-btn:hover{

background:#4b1ba4;

}